.footer {
  display: flex;
  width: rem(1920);
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(12);
  margin: 0 auto;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  width: rem(1200);
  margin: 0 auto;
  padding-top: rem(12);
  border-top: solid rem(1) $footer-decor-color;
  @include text-property($title-font, rem(14), 400, $title-text-color, 1.2, left);
}

.footer__link {
  @include text-property(
    $title-font,
    rem(14),
    400,
    $footer-link-text-color,
    1.2,
    center
  );
  text-decoration: none;
}

.wrap-form {
  display: flex;
  flex-basis: 31.5%;
  justify-content: space-between;
  align-items: center;
}

.wrap-form form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: rem(40);
}

input[type="text"] {
  width: 60%;
  height: 100%;
  border: solid 1px $form-border-color;
  border-right: 0;
  box-shadow: none;
  border-radius: 0;
  padding-left: rem(10);
  @include text-property($content-font, rem(15), 300, $form-text-color, 1.6, left);
  font-style: italic;
}

input[type="submit"] {
  width: 40%;
  height: 110%;
  background-color: $bg-button-color;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  border-radius: 0;
  @include text-property(
    $button-font,
    rem(14),
    700,
    $text-button-color,
    1.2,
    center
  );
  text-transform: uppercase;
}
