html {
  font-size: 1.6rem;
}

.main-wrapper {
  max-width: rem(1920);
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: rem(155);
}

.head-wrapper {
  max-width: rem(1920);
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/eagle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: rem(25);
  padding-bottom: rem(230);
}

.wrap {
  width: rem(1200);
  // width: 62.5%;
  margin: 0 auto;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .head-wrapper {
    background-image: url(../img/eagle@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.header__logo {
  display: block;
  @include text-property(
    $logo-font,
    rem(30),
    700,
    $main-head-text-color,
    1.5,
    left
  );
  text-decoration: none;
  padding-bottom: rem(15);
}

.header__nav {
  display: flex;
  flex-basis: rem(620);
  justify-content: space-between;
}

.header__menu {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  padding-left: 0;
}

.header__item {
  display: flex;
}

.header__link {
  display: block;
  @include text-property(
    $nav-font,
    rem(14),
    400,
    $main-head-text-color,
    1.2,
    right
  );
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: rem(15);
  border-bottom: solid rem(3) transparent;
  &--hover:hover {
    color: $nav-hover-text-color;
    border-bottom: solid rem(3) $nav-hover-text-color;
  }
}

.header__svg {
  display: block;
  width: rem(15);
  height: rem(16);
  fill: $main-head-text-color;
  &--hover:hover {
    fill: $nav-hover-text-color;
  }
}

.head-section__button {
  display: block;
  width: rem(160);
  height: rem(40);
  margin: 0 auto;
  text-align: center;
  @include text-property(
    $button-font,
    rem(14),
    700,
    $text-button-color,
    rem(40),
    center
  );
  text-transform: uppercase;
  text-decoration: none;
  border: rem(3) solid $bord-button-color;
}

.head-section__name {
  display: block;
  margin: 0 auto;
  @include text-property(
    $title-decor-font,
    rem(72),
    400,
    $main-head-text-color,
    1.2,
    center
  );
  margin-bottom: rem(20);
}

.head-section__title {
  @include text-property(
    $title-font,
    rem(150),
    700,
    $main-head-text-color,
    0.933,
    center
  );
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: rem(105);
  padding: 0 rem(160);
}
