.main {
  width: rem(1200);
  margin: 0 auto;
}

.section {
  margin-bottom: rem(80);
  margin: 0 auto;
}

.section--big-padd {
  padding-bottom: rem(85);
}

.section__name {
  display: block;
  margin: 0 auto;
  @include text-property(
    $title-decor-font,
    rem(24),
    400,
    $title-text-color,
    1.2,
    center
  );
  margin-bottom: rem(16);
}

.section__title {
  height: rem(30);
  @include text-property($title-font, rem(30), 700, $title-text-color, 1, center);
  text-transform: uppercase;
  margin-bottom: rem(90);
  &::after {
    content: "";
    display: block;
    width: rem(60);
    margin: rem(40) auto;
    border-bottom: rem(3) solid $text-decor-color;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: rem(90);
}

.menu__item {
  display: flex;
  flex-basis: rem(400);
  align-items: flex-start;
  justify-content: space-between;
}

.menu__item--big-marg {
  margin-bottom:rem(90);
}

.menu__icon {
  display: flex;
  flex-basis: rem(80);
  justify-content: center;
}

.menu__svg {
  display: block;
  width: rem(32);
  height: rem(32);
  fill: $main-icon-color;
}

.menu__title {
  @include text-property($title-font, rem(14), 400, $title-text-color, 1.2, left);
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: rem(15);
}

.menu__text {
  width: 90%;
  @include text-property(
    $content-font,
    rem(15),
    400,
    $content-text-color,
    1.6,
    left
  );
  margin: 0;
}

.menu__wrap {
  padding-left: rem(10);
}

.section__text {
  display: block;
  margin: 0 auto rem(95) auto;
  width: 79.17%;
  @include text-property(
    $content-font,
    rem(15),
    400,
    $content-text-color,
    1.6,
    center
  );
}

.gallery {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  flex-basis: rem(380);
}

.gallery__img-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(380);
  height: rem(470);
  transition-property: box-shadow, transform;
  transition-duration: 200ms;
  margin-bottom: rem(30);
  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: rem(380);
    height: rem(470);
    opacity: 0.9;
    z-index: 1;
  }
  &:hover::after {
    display: flex;
    background-image: linear-gradient(#f38181, #fce38a);
  }
  &:hover {
    transform: translate(rem(-10), rem(-10));
    box-shadow: rem(10) rem(10) $gallery-shadow-color;
  }
  &:hover > .gallery__networks {
    display: flex;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.gallery__networks {
  display: none;
  position: absolute;
  justify-content: center;
  width: rem(225);
  height: rem(56);
  z-index: 2;
}

.gallery__svg {
  display: block;
  width: rem(32);
  height: rem(32);
  fill: $gallery-icon-color;
}

.gallery__network-item {
  display: flex;
  width: rem(56);
  height: rem(56);
  background-color: $gallery-netw-backgr-color;
  transition-property: background-color;
  transition-duration: 200ms;
  z-index: 3;
  border-right: solid 1px $gallery-netw-hov-backgr-color;
  justify-content: center;
  align-items: center;
  &:hover .gallery__svg {
    fill: $gallery-hov-icon-color;
  }
  &:last-child {
    border-right: none;
  }
}

.gallery__networks > .gallery__network-item:hover {
  transition-property: background-color;
  transition-duration: 200ms;
  background-color: $gallery-netw-hov-backgr-color;
  border: none;
}

.gallery__name {
  @include text-property(
    $title-font,
    rem(14),
    400,
    $title-text-color,
    1.2,
    center
  );
  text-transform: uppercase;
  margin-bottom: rem(8);
}

.gallery__specialty {
  @include text-property(
    $content-font,
    rem(15),
    300,
    $content-text-color,
    1.6,
    center
  );
  font-style: italic;
}
