.wrapper {
  width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 62.5%;
  margin: 0 auto;
}

.logo {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #95e1d3;
  font-weight: 700;
  text-decoration: none;
}
.nav {
  display: flex;
  flex-basis: 40.83%;
  justify-content: space-between;
  align-items: flex-end;
}

.menu {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-item {
  display: inline-flex;
  align-items: flex-end;
}

.menu-item a {
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #95e1d3;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
 }

.menu-item a:hover {
  color: #f38181;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.section {
  width: 1200px;
  margin: 0 auto;
}

.section h2 {
  text-align: center;
}

.section-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-menu-item {
  display: flex;
  flex-basis: 31.667%;
  justify-content: space-around;
}

.icon {
  flex-basis: 21.05%;
}

.section-menu-div {
  display: flex;
  font: b 78.68%;
}

.section-menu a,
.icon {
  display: block;
}

.galery {
  display: flex;
  justify-content: space-between;
}
.team-member {
  display: flex;
  flex-direction: column;
  flex-basis: 380px;
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 470px;
  transition-property: box-shadow, transform;
  transition-duration: 200ms;
}

.img img {
  width: 100%;
  height: 100%;
}

.img::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
  opacity: 0.9;
  z-index: 1;
}

.networks {
  display: none;
  position: absolute;
  justify-content: center;
  width: 225px;
  height: 56px;
  /* background-color: #f9bd87; */
  z-index: 2;
}

.network {
  background-color: #fce38a;
  display: block;
  transition-property: background-color;
  transition-duration: 200ms;
  z-index: 3;
  border-right: solid 1px #f9bd87;
}

.network:last-child {
  border-right: none;
}

.img:hover::after {
  display: flex;
  background-image: linear-gradient(#f38181, #fce38a);
}

.img:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #95e1d3;
}

.networks > .network:hover {
  transition-property: background-color;
  transition-duration: 200ms;
  background-color: #f38181;
  border: none;
}

.img:hover > .networks {
  display: flex;
}

