* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 60px;
  font-family: 'Playfair Display', serif;
}

.nav {
  text-align: center;
  margin-bottom: 95px;
}

.nav li {
  display: inline-block;
  margin-left: 100px;
}

.nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.nav a:hover {
  background-color: lime;
  color: blue;
}

.article {
  display: inline-block;
  width: 420px;
  margin-bottom: 120px;
}

.article-2 {
  display: inline-block;
  width: 420px;
  margin-bottom: 120px;
  margin-left: 56px;
}

.article-lifestyle {
  display: inline-block;
  width: 420px;
  margin-bottom: 40px;
}

.article-lifestyle-2 {
  display: inline-block;
  width: 420px;
  margin-bottom: 40px;
  margin-left: 56px;
}

.article img, 
.article-2 img {
  margin-bottom: 30px;
  display: block;
}

.article h2, 
.article-2 h2 {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: left;
}

.article span, 
.article-2 span {
  display: block;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: left;
  color: gray;
}

.article p, 
.article-2 p {
  text-align: left;
}

.article-lifestyle img, 
.article-lifestyle-2 img {
  margin-bottom: 30px;
  display: block;
}

.article-lifestyle h2, 
.article-lifestyle-2 h2 {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: left;
}

.article-lifestyle span, 
.article-lifestyle-2 span {
  display: block;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: left;
  color: gray;
}

.article-lifestyle p, 
.article-lifestyle-2 p {
  text-align: left;
}

input {
  width: 160px;
  height: 60px;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}