$main-start-grad-color: #f38181;
$main-finish-grad-color: #fce38a;
$main-head-text-color: #ffffff;
$nav-hover-text-color: #fce38a;
$title-text-color: #333333;
$content-text-color: #999999;
$footer-link-text-color: #f38181;
$footer-decor-color: #e5e5e5;
$form-border-color: #e7e7e7;
$form-text-color: #cccccc;
$text-decor-color: #f38181;
$text-button-color: #ffffff;
$bg-button-color: #95e1d3;
$bord-button-color: #ffffff;
$main-icon-color: #95e1d3;
$gallery-icon-color: #f38181;
$gallery-hov-icon-color: #ffffff;
$gallery-shadow-color: #95e1d3;
$gallery-netw-backgr-color: #fce38a;
$gallery-netw-hov-backgr-color: #f38181;

$logo-font: "Montserrat", sans-serif;
$nav-font: "Montserrat", sans-serif;
$title-font: "Montserrat", sans-serif;
$title-decor-font: "Kaushan Script";
$button-font: "Montserrat", sans-serif;
$content-font: "Roboto", sans-serif;

